.super-mario {
  width: 100px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  margin-top: 170px;
}

.baloon {
  position: absolute;
  z-index: 3;
  margin-top: 300px;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 4;
  margin-top: 360px;
  margin-left: 20px;
}

.bowser {
  width: 200px;
  position: absolute;
  z-index: 5;
  margin-top: 450px;
  margin-left: 300px;
}